{% extends "network/layout.html" %}

{% block body %}

<div class="container">
    <div class="row  justify-content-center align-items-center mt-5">
      <form>
        <form action="{% url 'addpost' %}" method="post "  >

            {% csrf_token %}
            <div class="form-group" >
                <h3>New Post:</h3>
                <textarea id="post" name="post" rows="4" cols="50" class="form-control" ></textarea>
                <input class="btn btn-primary mb-2" type="submit" value="Submit">
            </div>
        
        
            
        </form>
      </form>
    </div>
  </div>
  
{% endblock %}